---
title: Bitcoin links from Carlos Limardo
---
<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Bitcoin links from Carlos Limardo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/assets/favicon/favicon-32x32.png" class="d-inline-block align-top rounded" alt=""> Carlos
                Limardo
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav flex-row flex-wrap ms-md-auto" id="navlinks">
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link" href="https://github.com/climardo"><i class="fab fa-github"></i><small
                                class="d-md-none ms-2">GitHub</small></a>
                    </li>
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link" href="https://twitter.com/carloslimardo"><i
                                class="fab fa-twitter"></i><small class="d-md-none ms-2">Twitter</small></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead" id="site-header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="fw-bold text-white custom-shadow">Bitcoin <i class="fab fa-bitcoin"></i> links</h1>
                    <p class="lead fw-bold text-white custom-shadow">from Carlos Limardo</p>
                    <small class="text-white">(still working on it)</small>
                </div>
            </div>
        </div>
    </header>

    <!-- Options -->
    <section id="options">
        <div class="container px-4">
            {% for option in site.data.options %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="{{ option }}-check" value="{{ option }}" checked>
                <label class="form-check-label" for="{{ option }}">{{ option }}</label>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Links section-->
    <section class="bg-light" id="links">
        <div class="container px-4">
            <h2><i class="fas fa-link"></i> Links</h2>
            <div class="row gx-4">
                <div class="col-md-6">
                    <h4><i class="fab fa-youtube"></i> YouTube</h4>
                    <ul class="list-unstyled">
                        {% for channel in site.data.youtube %}
                        <li class="{% for tag in channel.tags %}{{ tag }} {% endfor %}"><a href="{{ channel.link }}">{{
                                channel.name }}</a><br />
                            {% for tag in channel.tags %}
                            <span class="badge rounded-pill bg-secondary">{{ tag }}</span>
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4><i class="fas fa-podcast"></i> Podcasts</h4>
                    <ul class="list-unstyled">
                        {% for podcast in site.data.podcasts %}
                        <li class="pt-1 {% for tag in podcast.tags %}{{ tag }} {% endfor %}">{{ podcast.name }} <a
                                href="https://podcasts.apple.com/us/podcast/{{ podcast.apple }}"><i
                                    class="fas fa-podcast"></i></a>&nbsp;<a
                                href="https://open.spotify.com/show/{{ podcast.spotify }}"><i
                                    class="fab fa-spotify"></i></a><br />
                            {% for tag in podcast.tags %}
                            <span class="badge rounded-pill bg-secondary">{{ tag }}</span>
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4><i class="fas fa-globe"></i> Web</h4>
                    <ul class="list-unstyled">
                        {% for link in site.data.web-links %}
                        <li class="{% for tag in link.tags %}{{ tag }} {% endfor %}"><a href="{{ link.link }}">{{
                                link.name }}</a><br />
                            {% for tag in link.tags %}
                            <span class="badge rounded-pill bg-secondary">{{ tag }}</span>
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <!-- Referrals section-->
    <section id="referrals">
        <div class="container px-4">
            <h2><i class="fas fa-share-square"></i> Referrals</h2>
            <div class="row gx-4 justify-content-center">
                {% for referral in site.data.referrals %}
                <div class="col-md-6">
                    <div class="card mb-3">
                        <img src="{{ referral.img-src }}" class="card-img-top {{ referral.img-class }}"
                            alt="{{ referral.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ referral.name }}</h5>
                            <p class="card-text fst-italic">{{ referral.slogan }}</p>
                            <p class="card-text">{{ referral.desc }}</p>
                            <p class="card-text"><a href="{{ referral.sign-up }}">Sign up</a> • <a
                                    href="{{ referral.help }}">Help</a>{% if referral.me%} • <a
                                    href="https://{{ referral.me }}">{{ referral.me }}</a>{% endif %}</p>
                            <p>{% for tag in referral.tags %}<span class="badge rounded-pill bg-secondary">{{ tag
                                    }}</span> {% endfor %}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-4">
            <p class="m-0 text-center text-white">Copyright &copy; carloslimardo.com 2021</p>
            <p class="m-0 text-center text-white"><small class="text-muted">Disclaimer: All opinions and views expressed
                    here are my own and do not reflect those of my employer. None of the material found here is
                    financial advice. Do your own research.</small></p>
        </div>
    </footer>

    <!-- Load internal scripts -->
    <script src="/assets/js/scripts.js"></script>

    <!-- Load extenal scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bf6c3ce2c2.js"></script>
</body>

</html>