@charset "UTF-8";

section {
  padding: 3rem 0;
}

.masthead {
  height: 22vh;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(242, 169, 0, 0.2) 0%, rgba(242, 169, 0, 0.8) 100%), url("../images/header.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.logo-col {
  max-width: 100px;
}

.custom-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.nav-icon {
  height: 30px;
  width: 30px;
}

.form-check-input:checked {
  background-color: #f2a900;
  border-color: #f2a900;
}

a:hover {
  color: #f2a900;
}

a {
  color: #e09c00;
}